@media screen and (min-width: 768px) and (max-width: 991px)
{
    :root {
        --blue: #0065fc;
        --lightgrey: #f2f2f2;
    }

    /*Header*/
    nav {
        display: flex;
        width: auto;
        text-align: center;
    }
    .sub_nav a:hover {
        color: var(--blue);
        border-bottom: 3px solid var(--blue);
        border-top: none;
        padding-bottom: 15px;
    }

    /*Main*/
    .intro_title {
        text-align: center;
    }

    /*Searchbar*/
    .searchbar {
        display: flex;
        justify-content: center;
    }

    /*Filters*/
    .filters , .filters > h3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    }

    /*Section*/
    section  {
        display: flex;
        flex-direction: column;
    }
    .results {
        gap: 30px;
    }

    /*Article*/
    #results1 > h3 {
        margin-left: 25px;
    }
    article {
        display: flex;
        background-color: var(--lightgrey);
        border-radius: 20px;
        padding: 0;
    }
    article a {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-left: 25px;
    }
    .apartments_list {
        display: flex;
        margin: 0;
    }
    .apartments_card {
        width: 230px;
        height: 350px;
    }
    .apartments_card img {
        width: 220px;
        height: 250px;
    }
    .details {
        padding-bottom: 10px;
    }
    .details h3 {
        font-size: 18px;
    }
    .details .stars {
        font-size: 12px;
    }

    /*Aside*/
    aside {
        border-radius: 20px;
    }
    #intro_pop {
        margin-left: 40px;
    }
    .populars_list {
        width: auto;
        margin-left: 50px;
    }
    .populars_list {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .populars_card {
        margin-left: 35px;
        width: 100%;
    }
    .populars_card img {
        width: 40%;
        height: 185px;
    }
    .pop_details h3 {
        font-size: 22px;
        padding-right: 70px;
    }
    .pop_details p {
        font-size: 16px;
    }
    .pop_stars {
        font-size: 16px;
        margin-top: 70px;
    }

    /*Activities*/
    #activities :nth-child(2) {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    .big_card {
        width: 180px;
        height: 470px;
    }
    #activities .big_card img {
        width: 180px;
        height: 400px;
    }
    #activities .little_cards {
        display: flex;
        flex-direction: column;
    }
    .little_cards {
        width: 180px;
    }
    .lc1 , .lc2 , .lc3 , .lc4 {
        height: 210px;
        margin-bottom: 33px;    
    }
    .lc1 , .lc3 {
        margin-bottom: 46px;
    }
    .lc1 .figure_lc {
        width: 100%;
    }
    .lc3 .figure_lc {
        width: 100%;
    }
    .lc3 h4 {
        margin-top: 10px;
    }

    /*Footer*/
    footer {
        display: flex;
        flex-direction: row;
        padding-right: 0;
    }
    footer ul {
        display: flex;
        align-items: center;
        padding-left: 0;
    }
}